*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}

html{
    font-size: 60%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
}

body{
    background-color: white;
}

section{
    padding: 2rem 10%;
}

.heading{
    text-align: center;
    padding: 10px 0;
    font-size: 50px;
    font-family: 'cooper';
}

header{
    position: absolute;
    left: 0; top: 0; right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 9%;
    padding-right: 3%;
    background: #D6E5FA;
}

.logo{
    font-size: 40px;
    font-family: 'cooper';
    font-weight: bolder;
    color: #E04D01;
    text-decoration: none;
}

header .logo a:hover{
    color: black;
}

.navbar a{
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0 20px;
    color: black;
    text-decoration: none;
}

.navbar a:hover{
    color: #E04D01;
}

.icons div{
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: .5rem;
    background: #ffffff;
    color: black;
    font-size: 20px;
    margin-right: 10px;
    text-align: center;
    position: relative;
    float: right;
    cursor: pointer;
}

.icons div:hover{
    background: #E04D01;
    color: white;
}

.search-form{
    position: relative;
    top: 110%; right: 2rem;
    width: 20%;
    height: 30px;
    background: #ffffff;
    border-radius: .5rem;
    display: flex;
    align-items: center;
}

.search-form input{
    height: 100%;
    width: 100%;
    background: none;
    border-color: none;
    border-style: none;
    text-transform: capitalize;
    font-size: 12px;
    color:black;
    padding: 0 10px;
}

.search-form label{
    font-size: 20px;
    padding-right: 10px;
    color: black;
    cursor: pointer;
}

.search-form label:hover{
color: #E04D01;
}

.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    background: url(pho/back.jpg) no-repeat;
    background-image: center;
    background-position: center bottom;
    background-size: cover;
    background-attachment: fixed;
}

.home .content{
    margin: 20%;
    text-align: center;
    color: #ffffff;
    width: 50%;
}

.home .content h1{
    font-size: 100px;
    font-family: 'cooper';
    }

.home .content p{
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
}

.home .content .btn{
    margin-top: 10px;
    display: inline-block;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: .5rem;
    border: 2px solid whitesmoke;
    color: black;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-transform: capitalize;
    background: burlywood;
}

.home .content .btn:hover{
    color: #E04D01;
    background: white;
    border-color: black;
}

.menu .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    gap: 1.5rem;
    flex-wrap: wrap;
}

.menu .box-container .box{
    padding: 30px 10px;
    background: #D6E5FA;
    outline-offset: -1rem;
    text-align: center;
    align-items: center;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, 1);
}

.menu .box-container .box img{
    margin: 1rem;
    height: 200px;
    width: 330px;
    flex-wrap: wrap;
}

.menu .box-container .box:hover{
    outline: 1px solid black;
    outline-offset: 0rem;
}

.menu .box-container .box h2{
    font-family: 'cooper';
    font-weight: bold;
    font-size: 20px;
    line-height: 1.8;
}

.about .box-con{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-gap: 1.5rem;
    align-items: center;
    flex-wrap: wrap;
}

.about img{
    height: 400px;
    width: 500px;
    flex-wrap: wrap;
}

.about p span{
    font-size: 22px;
    font-family: 'cooper';
    color: #E04D01;
}

.about p{
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.contact .footer{
    margin-top: 5%;
    padding: 0;
    background-color: #D6E5FA;

}

.footer .socials{
    margin: 30px 0;
    display: flex;
    justify-content: center;
}

.footer .socials i{
    margin-right: 20px;
    height: 50px;
    width: 50px;
    line-height: 50px;
    border-radius: .5rem;
    background-color: #ffffff;
    font-size: 40px;
    text-align: center;
    align-items: center;
}

.footer .socials i:hover{
    background: #E04D01;
    color: white;
}

.footer .top{
    margin: 40px;
    padding: 0;
    display: flex;
    justify-content: center;
}

.footer .top a{
    margin-right: 30px;
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
    text-align: center;
    align-items: center;
    text-decoration: none;

}

.footer .top a:hover{
    color: #E04D01;
}

.footer .outer{
    padding: 10px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif   ;
    font-weight: bold;
    color: white;
    background: rgb(57, 126, 218);
    text-align: center;
}


@media (max-width:991px){

    html{
        font-size: 55%;
    }

    section{
        padding: 8%;
    }
}

@media (max-width:870px){
    .search-form{
        display: none;
    }

    .about .box-con{
        display: flex;
        flex-wrap: wrap;
    }

}

@media (max-width:700px){
    .icons div{
        display: none;
    }

    .home .content p{
        font-size: 20px;
        flex-direction: column;
    }
}

@media (max-width:650px){
    .home .content h1{
        font-size: 90px;
        flex-direction: column;
    }

    .home .content p{
        font-size: 20px;
    }
}

@media (max-width:600px){
    header{
        flex-direction: column;
    }

    .home .content{
        margin: 30%;
    }

    .about img{
        height: 300px;
        width: 400px;
    }

    .home .content h1{
        font-size: 80px;
    }

    .home .content p{
        font-size: 15px;
    }

    .home .content .btn{
        font-size: 15px;
    }
}

@media (max-width:450px){
    html{
        font-size: 50%;
    }

    .heading{
        font-size: 30px;
    }

    
    .logo{
        font-size: 30px;
        flex-direction: column;
    }    

    .navbar a{
        font-size: 15px;
        display: inline-block;
        flex-direction: column;
        margin: 0 10px;
    }

    .home .content h1{
        font-size: 60px;
        flex-direction: column;
    }

    .home .content p{
        font-size: 15px;
    }

    .about img{
        height: 200px;
        width: 300px;
    }

    .menu .box-container .box img{
        flex-direction: column;
        height: 200px;
        width: 300px;
    }
}
